* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    margin-top: 0;
    font-weight: 600;
    color: #302718;
}

/* ======================== menu & banner ======================== */
.banner {
    height: 35px;
    line-height: 35px;
    background-color: #EB8B31;
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
    z-index: 99;
}

.banner p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-weight: 500;
}

.topbar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    /* justify-content: flex-end;*/
    z-index: 100;
}

.primary-menu {
    display: flex;
    transition: all 0.6s cubic-bezier(.4, .08, 0, 1.02);
    padding-left: 3%;
    width: 100%;
}

.topbar a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #302718;
    text-decoration: none;
    padding: 0.85em;
    letter-spacing: 0.05em;
    transition: all 0.2s;
    vertical-align: middle;
    
}

.topbar a:hover {
    color: #EB8B31;
}

.topbar .logo {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
}

.topbar .icons-right {
    font-size: 1.5em;
    position: absolute;  
    top: 50%;
    right: 3%;
    transform: translate(-50%, -50%);
}

.topbar .icon {
    padding: 0.5em;
}



.hamburger-btn {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 101;
}

.hamburger-btn::part(base) {
    color: #999;
    font-size: 1.6em;
}

/* ======================== section 1: landing ======================== */

.section.section-landing {
    height: 100vh;
    position: relative;
}

/*hero image */

.hero-bg {
    background: url("images/puppy-hero.png") center center no-repeat;
    /*TODO: safe for web image size */
    background-size: cover;
    height: 100%;
    z-index: -1;
}

/*hero content */

.section-landing .content {
    position: absolute;
    top: 40%;
    right: 10%;
}

