* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    margin-top: 0;
    font-weight: 600;
    color: #302718;
}

/* ======================== menu & banner ======================== */
.banner {
    height: 35px;
    line-height: 35px;
    background-color: #EB8B31;
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
    z-index: 99;
}

.banner p {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    font-weight: 500;
}

.topbar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    /* justify-content: flex-end;*/
    z-index: 100;
}

.primary-menu {
    display: flex;
    /* transition: all 0.5s cubic-bezier(.56,.14,.64,.96);  */
    padding-left: 3%;
    width: 100%;
    vertical-align: middle;
}

.topbar a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #302718;
    text-decoration: none;
    padding: 0.85em;
    letter-spacing: 0.05em;
    transition: all 0.2s;
    vertical-align: middle;
    
}

.topbar a:hover {
    color: #EB8B31;
}

.topbar .logo {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.topbar .icons-right {
    font-size: 1.5em;
    position: absolute;  
    top: 50%;
    right: 3%;
    transform: translate(-50%, -50%);
}

.topbar .icon {
    padding: 0.5em;
}

.hamburger-btn {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 101;
}

.hamburger-btn::part(base) {
    color: #EB8B31;
    font-size: 1.8em;
}

/* ======================== section 1: landing ======================== */

.section.section-landing {
    height: 100vh;
    position: relative;
}

/*hero image */

.hero-bg {
    background: url("images/puppy-hero.png") center center no-repeat;
    /*TODO: safe for web image size */
    background-size: cover;
    height: 100%;
    z-index: -1;
}

/*hero content */

.section-landing .content {
    position: absolute;
    top: 40%;
    right: 10%;
}





/* MOBILE --------------------------------*/
@media only screen and (max-width: 768px) {

    .hamburger-btn {
      display: block;
    }
  
    .primary-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: #EB8B31;
      flex-direction: column;
      /* align-items: center;*/
      /* justify-content: center;*/
      transform: translateX(-100%);
      opacity: 0.5;
      transition: all 0.5s cubic-bezier(.56,.14,.64,.96); 
      /* TODO: any way to get this not to do the transition when resizing from desktop to mobile?? */
    }
  
    .primary-menu a {
      font-size: 1.5em;

    }
  
    .primary-menu.show {
      transform: translateX(0);
      opacity: 1;
    }
  }