* {
	box-sizing: border-box;
}



body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    margin-top: 0;
    font-weight: 600;
    color: #302718;
}

.orange-text {
	color: #EB8B31;
}

.white-text {
    color: #ffffff;
}

/* .link {
	cursor: pointer;
	font-size: 18px;
	position: relative;
	/* white-space: nowrap; 
	color: #EB8B31;
	text-decoration: none;
	font-family: sans-serif;
}

.link::before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	width: 0;
	height: 2px;
	background-color:  #EB8B31;
	transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.link:hover::before {
	left: 0;
	right: auto;
	width: 100%;
} */

/* ======================== section 3: ingredients ======================== */
.ingredients {
    text-align: center;
}

.ingredients.content h1 {
    padding-top: 5%;
}

.ingredients.content p {
    padding: 1% 30% 5%;
}

.ingredients-images {
    height: 400vh;
    /* background-color: beige; */
}

.ingredient-packet {
    width: 700px;
    margin: auto; 
}    

.ingredients-all {
    width: 100%;
}

/* ======================== benefits ======================== */
.section-benefits {
    text-align: center;
}

/* TODO: media inquiry - at half, go to two rows of 3 and 2. mobile go to 3 rows of 2, 2, 1. 
mobile - only show h2?? */

.benefit-columns {
    display: flex;
    align-items: baseline;
    text-align: center;
    padding: 0 8%;
}

.benefit-column {
    text-align: center;
    flex-grow: 1;
    width: 15%;

}

.benefit-column .benefit-col-img {
    width: 65%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 1.8em;
}


.benefit-column p {
    padding: 0 7%;
}