/* base styling =============================================  */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #777;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: 600;
    color: #111;
}

h1{
    font-weight: 800;
    font-size: 5.2vw;
}

h1 .sm {
    font-size: 0.5em
}

h2 {
    font-size: 2.3vw;
    text-transform: uppercase;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 200px;
    background: #fff;
    border: none;
    padding: 0.5em 1em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

button.is-big {
    font-size: 1.2em;
}

button .fa-angle-right,
button .fa-angle-left {
    color: #1be0f1;
    margin-left: 0.5em;
}


/* fullpage hacks =============================================  */
/* nav  */
#fp-nav ul li .fp-tooltip {
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* slides nab  */
.fp-slidesNav {
    left: 17% !important; /* this makes the three dots appear in a nice position */
    bottom: 15% !important;
}

/* section */
.section {
    height: 100vh;
}

.section .fp-tableCell {
    padding: 2em;
}

/* home section =============================================  */

#logo {
    position: absolute;
    left: 7%;
    top: 15%;
    color: #fff;
    width: 45%;
}

.section-home .bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#camera {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 35%;
}

#camera-shadow {
    position: absolute;
    right: 1%;
    width: 43%;
    top: 54%;
}

.section-home .content {
    position: absolute;
    width: 38%;
    left: 7%;
    top: 50%;
}

/* big three section =============================================  */

.section-big-three {
    text-align: center;
}

.section-big-three .fp-tableCell {
    vertical-align: top;
}

.big-three-cols {
    display: flex;
    align-items: center;
    padding: 0 4%;
    margin-bottom: 0.5em;
}

.bt-col {
    text-align: center;
    flex-grow: 1;
    margin: 2%;
    width: 33.3%;
}

.bt-col .bt-col-img {
    width: 40%;
    height: 160px; 
    object-fit: contain;
    /* our images are different heights, but want the words underneath to be at the same height. but if we set both a width and a height we get image distortion. set object-fit: contatin which will contain the image in that height. */
    margin-bottom: 1.5em
}

.section-big-three .content {
    padding-left: 20%; /* making the text narrow on the page for optimal line length legibility */ 
    padding-right: 20%;
    font-size: 1.2em;
}

.section-big-three .content p {
    margin-bottom: 1.8em;
}

/* aperture section =============================================  */

.section-aperture {
    background: linear-gradient(90deg, #c3eefb 0%, #ecfefd 100%);
}

.section-aperture .slide {
    padding-left: 5%;
    padding-right: 5%;
}

.section-aperture .slide .content {
    padding-right: 30%;
    position: relative; /* the container needs position relative */
}

.slide-aperture-1 .slide-img {
    width: 170px;
    position: absolute;
    right: 0;
    top: 10%
}

.slide-aperture-2 .slide-img, 
.slide-aperture-3 .slide-img {
    width: 279px;
    position: absolute;
    right: -7%;
    top: -36%; 
}