* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    color: #302718;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    margin-top: 0;
    font-weight: 600;
    color: #302718;
}

.orange-text {
    color: #EB8B31;
}

.white-text {
    color: #ffffff;
}

/* .link {
	cursor: pointer;
	font-size: 18px;
	position: relative;
	/* white-space: nowrap; 
	color: #EB8B31;
	text-decoration: none;
	font-family: sans-serif;
}

.link::before {
	content: '';
	position: absolute;
	top: 100%;
	right: 0;
	width: 0;
	height: 2px;
	background-color:  #EB8B31;
	transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.link:hover::before {
	left: 0;
	right: auto;
	width: 100%;
} */

/* ======================== section 3: ingredients ======================== */

.section-ingredients {
    overflow-x: hidden;
}

.ingredients {
    text-align: center;
    width: 100vw;
}

.ingredients.content h1 {
    padding-top: 5%;
}

.ingredients.content p {
    padding: 1% 30% 5%;
}

.ingredients-images {
    height: 100vh;
    width: 100vw;
    /* background-color: beige; */
    position: relative;
}

.ingredient-packet {
    width: 700px;
    margin: auto;
    padding-right: 5%;
}

.ingredients-all {
    width: 100%;
}

.in-txt1 {
    position: absolute;
    left: 10%;
    top: 40%;
}

.in-txt2, .in-txt3 {
    position: absolute;
    left: 7%;
    top: 35%;
    padding-right: 50%;
}

.in-txt4, .in-txt5 {
    position: absolute;
    right: 10%;
    top: 40%;
    padding-left: 50%;
}

.in-txt6 {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100vw;
    padding: 0 5% 0 5%;
}

.section-ingredients {
    background-color: #fff;
}

/* ======================== benefits ======================== */

.section-benefits {
    text-align: center;
    height: 100vh;
}

/* TODO: media inquiry - at half, go to two rows of 3 and 2. mobile go to 3 rows of 2, 2, 1. 
mobile - only show h2?? */

.benefit-columns {
    display: flex;
    align-items: baseline;
    text-align: center;
    padding: 0 8%;
}

.benefit-column {
    text-align: center;
    flex-grow: 1;
    width: 15%;
}

.benefit-column .benefit-col-img {
    width: 65%;
    height: 140px;
    object-fit: contain;
    margin-bottom: 1.8em;
}

.benefit-column p {
    padding: 0 7%;
}

/* cute bug animation */

.animation {
    height: 100vh;
    /* overflow: hidden; */
    /* width: 100vw;  */
    width: 100vw;
}

.cute-bug {
    width: 50px;
    position: absolute;
    top: 30%;
    left: 0;
}

@media only screen and (max-width: 1024px) {
    .ingredients.content h1 {
        padding-top: 7%;
    }
    .ingredients.content p {
        padding: 1% 10% 5%;
    }
    .ingredient-packet {
        width: 400px;
    }
    .in-txt1 {
        left: 7%;
        top: 50%;
    }
    .in-txt2, .in-txt3 {
        left: 7%;
        top: 50%;
    }
    .in-txt4, .in-txt5 {
        right: 10%;
        top: 40%;
    }
    .in-txt6 {
        text-align: center;
        padding: 0 10%;
    }
}

@media only screen and (max-width: 640px) {
    .in-txt1 {
        left: 10%;
        top: 60%;
    }
    .in-txt2, .in-txt3 {
        left: 10%;
        top: 60%;
        width: 80%;
        padding: 0;
        text-align: center;
    }
    .in-txt4, .in-txt5 {
        right: 10%;
        top: 40%;
        padding: 0;
        text-align: center;
        width: 80%;
    }
    .in-txt6 {
        text-align: center;
        padding: 0 10%;
    }
}